@keyframes rotate {
  0% {
    transform-origin: center;
    transform: rotate(-180deg);
  }

  100% {
    transform-origin: center;
    transform: rotate(180deg);
  }
}

.rotation:hover {
  animation: rotate 2s linear 0s infinite;
}