.header {
  @include clear;
  max-width: 1440px;
  height: 84px;
  background-color: $bgBlock;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media screen and #{$mobile} {
  .header {
    height: 70px;
  }
}
