.camera__paragraph {
  margin: 0;
  padding: 359px 0 0 54px;
  font-family: $fontRoboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  text-transform: uppercase;
  color: $colorTextInvert;
}

@media screen and #{$tablet} {
  .camera__paragraph {
    padding-top: 60px;
    padding-left: 44px;
  }
}

@media screen and #{$mobile} {
  .camera__paragraph {
    padding-right: 76px;
    padding-left: 20px;
    font-size: 14px;
    line-height: 20px;
  }
}
