.footer__form {
  margin: 120px 0 0;
  padding: 0 0 36px 234px;
  display: flex;
  flex-direction: row;
}

@media screen and #{$tablet} {
  .footer__form {
    margin-top: 190px;
    padding-left: 40px;
    padding-bottom: 40px;
  }
}

@media screen and #{$mobile} {
  .footer__form {
    margin-top: 200px;
    padding-left: 20px;
    padding-top: 13px;
    padding-bottom: 13px;
  }
}
