.menu__item {
  @include clear;
  margin-right: 40px;
  font-family: $fontRoboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: #FBFBFB;
  height: 24px;
}


.menu__item:last-child {
  margin-right: 50px;
}

.menu__item:hover {
  font-weight: bold;
  cursor: pointer;
}

@media screen and #{$mobile} {
  .menu__item {
    padding-bottom: 12px;
    margin-right: 0;
  }
  .menu__item:last-child {
    padding-bottom: 26px;
    margin-right: 0;
  }
}