.search__place {
  padding: 0;
  margin: 148px 202px 0 312px;
}

@media screen and #{$tablet} {
  .search__place {
    margin-top: 60px;
    margin-left: 40px;
    margin-right: 131px;
  }
}

@media screen and #{$mobile} {
  .search__place {
    margin-top: 30px;
    margin-left: 20px;
  }
}
