// Шрифты
$fontInter: Inter, Arial, sans-serif;
$fontRoboto: Roboto, Arial, sans-serif;

// Цвета блоков
$bgBlock: #DF2626;
$bgDefault: #FFFFFF;
$bgComposition: #FFCE00;
$bgCamera: #000000;

// Цвета текста
$colorLink: #FBFBFB;
$colorText: #000000;
$colorTextInvert: #FFFFFF;

// Media
$tablet: '(max-width: 1079px)';
$mobile: '(max-width: 767px)';
